* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
    color: white;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

#time {
    /* 1rem = 16px -- 8rem = 128px */
    font-size: 8rem;
}

h1 {
    margin-bottom: 1rem;
}

h2 {
    font-size: 48px;
    opacity: 0.9;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin-bottom: 1rem;
}